/* 
    Created on : 05/05/2023, 15:58:10
    Author     : Marcelo Avelino
*/

.fixed-square-purple{
    width: 400px;
    height: 150px;
    border: 2px solid black;
    background-color: #a18bc9; 
}

.fixed-square-red{
    width: 400px;
    height: 150px;
    left:100px;
    border: 2px solid black;
    background-color: #93315e;
    
}

