/* 
    Created on : 05/05/2023, 15:58:10
    Author     : Marcelo Avelino
*/

html, body {
    margin: 0;
    padding: 0;
}

.fixed-square-purple{
    position: fixed;
    top: 0;
    right:20px;
    background: #a18bc9;    
}

.fixed-square-red{
    position: fixed;
    height: 25%;
    width: 25%;
    left: 400px;
    background: #93315e; 
}

.fixed-square-blue{
    position: fixed;
    height: 35%;
    width: 25%;
    left: 850px;
    background: #373751;
}

