/* 
    Created on : 05/05/2023, 15:58:10
    Author     : Marcelo Avelino
*/

body{
    margin: 0;
    box-sizing: border-box;
    height: 5000px;
}

nav{
    background-color: #93315e;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

nav a{
    color: #fff;
    float: left;
    text-decoration: none;
    display: block;
    padding: 15px 15px;
}

nav a:hover{
    transition: 0.5s;
    background-color: #a18bc9;
    color: #fff; 
}

